openapi: 3.0.0
info:
  title: Intercom REST API
  version: '2.2'
  contact:
    url: 'https://developers.intercom.com/building-apps'
    name: Intercom Developer Hub
  description: 'Retrieve information, keep your data in sync, or take actions programmatically through Intercom''s API.'
servers:
  - url: 'https://api.intercom.io'
paths:
  /contacts:
    get:
      summary: List all contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              examples:
                Contact List:
                  value:
                    type: list
                    data:
                      - type: contact
                        id: 5ba682d23d7cf92bef87bfd4
                        workspace_id: ecahpwf5
                        external_id: '25'
                        role: user
                        email: wash@serenity.io
                        phone: '+1123456789'
                        name: Hoban Washburn
                        avatar: 'https://example.org/128Wash.jpg'
                        owner_id: 127
                        social_profiles:
                          type: list
                          data:
                            - type: social_profile
                              name: Twitter
                              url: 'http://twitter.com/th1sland'
                        unsubscribed_from_emails: false
                        created_at: 1571672154
                        updated_at: 1571672158
                        signed_up_at: 1571069751
                        last_seen_at: 1571069751
                        last_replied_at: 1571672158
                        last_contacted_at: 1571672158
                        last_email_opened_at: 1571673478
                        last_email_clicked_at: 1571676789
                        browser: chrome
                        browser_version: 77.0.3865.90
                        browser_language: en
                        os: OS X 10.14.6
                        location:
                          type: location
                          country: Ireland
                          region: Dublin
                          city: Dublin
                        custom_attributes:
                          paid_subscriber: true
                          monthly_spend: 155.5
                          team_mates: 1
                        tags:
                          type: list
                          data:
                            - type: tag
                              id: '2'
                              url: /tags/2
                            - type: tag
                              id: '4'
                              url: /tags/4
                            - type: tag
                              id: '5'
                              url: /tags/5
                          url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                        notes:
                          type: list
                          data:
                            - type: note
                              id: '20114858'
                              url: /notes/20114858
                          url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                        companies:
                          type: list
                          data:
                            - type: company
                              id: 5ba686093d7cf93552a3dc99
                              url: /companies/5ba686093d7cf93552a3dc99
                            - type: company
                              id: 5cee64a03d7cf90c51b36f19
                              url: /companies/5cee64a03d7cf90c51b36f19
                            - type: company
                              id: 5d7668883d7cf944dbc5c791
                              url: /companies/5d7668883d7cf944dbc5c791
                          url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                    total_count: 436
                    pages:
                      type: pages
                      next:
                        page: 2
                        starting_after: WzE1NzEzMTc0NDYwMDAsIjViYTY4MmQyM2Q3Y2Y5MmJlZjg3YmZkNCIsMl0=
                      page: 1
                      per_page: 1
                      total_pages: 436
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: get-contacts
      description: Fetch a list of all contacts.
      parameters:
        - schema:
            type: number
            default: 10
            maximum: 150
            minimum: 1
            example: 50
          in: query
          name: per_page
          description: The number of items returned in a single response.
        - schema:
            type: string
            minLength: 1
            example: 1HaSB+xrOyyMXAkS/c1RteCL7BzOzTvYjmjakgTergIH31eoe2v4/sbLsJWP\nIncfQLD3ouPkZlCwJ86F\n
          in: query
          name: starting_after
          description: The cursor used for pagination in order to fetch the next page of results.
      security:
        - Bearer: []
      tags:
        - Contacts
    post:
      summary: Create a contact
      operationId: post-contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
              examples:
                Contact:
                  value:
                    type: contact
                    id: 5ba682d23d7cf92bef87bfd4
                    workspace_id: ecahpwf5
                    external_id: '25'
                    role: user
                    email: wash@serenity.io
                    phone: '+1123456789'
                    name: Hoban Washburn
                    avatar: 'https://example.org/128Wash.jpg'
                    owner_id: 127
                    social_profiles:
                      type: list
                      data:
                        - type: social_profile
                          name: Twitter
                          url: 'http://twitter.com/th1sland'
                    has_hard_bounced: false
                    marked_email_as_spam: false
                    unsubscribed_from_emails: false
                    created_at: 1571672154
                    updated_at: 1571672158
                    signed_up_at: 1571069751
                    last_seen_at: 1571069751
                    last_replied_at: 1571672158
                    last_contacted_at: 1571672158
                    last_email_opened_at: 1571673478
                    last_email_clicked_at: 1571676789
                    language_override: null
                    browser: chrome
                    browser_version: 77.0.3865.90
                    browser_language: en
                    os: OS X 10.14.6
                    location:
                      type: location
                      country: Ireland
                      region: Dublin
                      city: Dublin
                    android_app_name: null
                    android_app_version: null
                    android_device: null
                    android_os_version: null
                    android_sdk_version: null
                    android_last_seen_at: null
                    ios_app_name: null
                    ios_app_version: null
                    ios_device: null
                    ios_os_version: null
                    ios_sdk_version: null
                    ios_last_seen_at: null
                    custom_attributes:
                      paid_subscriber: true
                      monthly_spend: 155.5
                      team_mates: 1
                    tags:
                      type: list
                      data:
                        - type: tag
                          id: '2'
                          url: /tags/2
                        - type: tag
                          id: '4'
                          url: /tags/4
                        - type: tag
                          id: '5'
                          url: /tags/5
                      url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                      total_count: 3
                      has_more: false
                    notes:
                      type: list
                      data:
                        - type: note
                          id: '20114858'
                          url: /notes/20114858
                      url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                      total_count: 1
                      has_more: false
                    companies:
                      type: list
                      data:
                        - type: company
                          id: 5ba686093d7cf93552a3dc99
                          url: /companies/5ba686093d7cf93552a3dc99
                        - type: company
                          id: 5cee64a03d7cf90c51b36f19
                          url: /companies/5cee64a03d7cf90c51b36f19
                        - type: company
                          id: 5d7668883d7cf944dbc5c791
                          url: /companies/5d7668883d7cf944dbc5c791
                      url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                      total_count: 3
                      has_more: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact already exists:
                  value:
                    type: error.list
                    request_id: 80ec9d92-99ff-4da9-9a0e-c0ab7c42f7e7
                    errors:
                      - code: conflict
                        message: A contact matching those details already exists with id=5da6f18e3d7cf967e4582d05
                Owner not on workspace:
                  value:
                    type: error.list
                    request_id: 00043csj9iva7pl9mmmg
                    errors:
                      - code: parameter_invalid
                        message: The owner specified is not a member of the workspace
      description: Create a new contact (ie. user or lead).
      security:
        - Bearer: []
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
            examples:
              Create User:
                value:
                  role: user
                  external_id: '25'
                  email: wash@serenity.io
                  phone: '+1123456789'
                  name: Hoban Washburn
                  avatar: 'https://example.org/128Wash.jpg'
                  last_seen_at: 1571069751
                  signed_up_at: 1571069751
                  owner_id: 127
                  unsubscribed_from_emails: false
                  custom_attributes:
                    paid_subscriber: true
                    monthly_spend: 155.5
                    team_mates: 1
  /contacts/search:
    post:
      summary: Search for contacts
      operationId: post-contacts-search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              examples:
                Contact List:
                  value:
                    type: list
                    data:
                      - type: contact
                        id: 5ba682d23d7cf92bef87bfd4
                        workspace_id: ecahpwf5
                        external_id: '25'
                        role: user
                        email: wash@serenity.io
                        phone: '+1123456789'
                        name: Hoban Washburn
                        avatar: 'https://example.org/128Wash.jpg'
                        owner_id: 127
                        social_profiles:
                          type: list
                          data:
                            - type: social_profile
                              name: Twitter
                              url: 'http://twitter.com/th1sland'
                        unsubscribed_from_emails: false
                        created_at: 1571672154
                        updated_at: 1571672158
                        signed_up_at: 1571069751
                        last_seen_at: 1571069751
                        last_replied_at: 1571672158
                        last_contacted_at: 1571672158
                        last_email_opened_at: 1571673478
                        last_email_clicked_at: 1571676789
                        browser: chrome
                        browser_version: 77.0.3865.90
                        browser_language: en
                        os: OS X 10.14.6
                        location:
                          type: location
                          country: Ireland
                          region: Dublin
                          city: Dublin
                        custom_attributes:
                          paid_subscriber: true
                          monthly_spend: 155.5
                          team_mates: 1
                        tags:
                          type: list
                          data:
                            - type: tag
                              id: '2'
                              url: /tags/2
                            - type: tag
                              id: '4'
                              url: /tags/4
                            - type: tag
                              id: '5'
                              url: /tags/5
                          url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                        notes:
                          type: list
                          data:
                            - type: note
                              id: '20114858'
                              url: /notes/20114858
                          url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                        companies:
                          type: list
                          data:
                            - type: company
                              id: 5ba686093d7cf93552a3dc99
                              url: /companies/5ba686093d7cf93552a3dc99
                            - type: company
                              id: 5cee64a03d7cf90c51b36f19
                              url: /companies/5cee64a03d7cf90c51b36f19
                            - type: company
                              id: 5d7668883d7cf944dbc5c791
                              url: /companies/5d7668883d7cf944dbc5c791
                          url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                    total_count: 436
                    pages:
                      type: pages
                      next:
                        page: 2
                        starting_after: WzE1NzEzMTc0NDYwMDAsIjViYTY4MmQyM2Q3Y2Y5MmJlZjg3YmZkNCIsMl0=
                      page: 1
                      per_page: 1
                      total_pages: 436
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Invalid Parameters:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: bad_request
                        message: bad 'random_param' parameter
                Required Parameter Not There:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_query
                        message: 'Invalid query. Ensure ''field'', ''operator'', ''value'' are present for field queries. Ensure ''operator'' and ''value'' for composite queries.'
                Too Many Nested Values (Max 10):
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_values
                        message: Value depth exceeds 10 items
                Invalid Value:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_value
                        message: 123 is not a valid string
                Invalid Field:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_field
                        message: not_a_field is not a valid field
                Invalid Multiple Filter Operator:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_operator
                        message: 'Composite operators must be of type AND or OR '
                Invalid Value Operator:
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_operator
                        message: 'email does not support operator: >'
                Too Many Values (Max 15):
                  value:
                    type: error.list
                    request_id: 693d48decbb24ad5bc1e2bf75dc9e8ca
                    errors:
                      - code: invalid_value
                        message: 'Number of elements in composite query is greater than 15, please try again with a smaller list'
      description: |-
        You can search for multiple contacts by the value of their attributes in order to fetch exactly who you want.

        To search for contacts, you need to send a POST request to this endpoint. This will accept a query object in the body which will define your filters in order to search for contacts.
      security:
        - Bearer: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              Single Filter:
                value:
                  query:
                    field: custom_attributes.salesforce_status
                    operator: '~'
                    value: open
              Multiple Filters:
                value:
                  query:
                    operator: AND
                    value:
                      - field: custom_attributes.social_network
                        operator: '='
                        value: facebook
                      - field: custom_attributes.social_network
                        operator: '='
                        value: twitter
                      - field: custom_attributes.social_network
                        operator: '='
                        value: instagram
              Nested Filters:
                value:
                  query:
                    operator: AND
                    value:
                      - operator: OR
                        value:
                          - field: created_at
                            operator: '>'
                            value: 1560436650
                          - field: signed_up_at
                            operator: '>'
                            value: 1560436784
                      - operator: OR
                        value:
                          - field: custom_attributes.salseforce_status
                            operator: '~'
                            value: Open
                          - field: custom_attributes.salesforce_object_type
                            operator: '='
                            value: Lead
        description: ''
      tags:
        - Contacts
  '/contacts/{id}':
    parameters:
      - schema:
          type: string
          minLength: 1
          example: 5ba682d23d7cf92bef87bfd4
        name: id
        in: path
        required: true
        description: The unique identifier for the contact which is given by Intercom.
    put:
      summary: Update a contact
      operationId: put-contacts-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
              examples:
                Contact:
                  value:
                    type: contact
                    id: 5ba682d23d7cf92bef87bfd4
                    workspace_id: ecahpwf5
                    external_id: '25'
                    role: user
                    email: wash@serenity.io
                    phone: '+1123456789'
                    name: Hoban Washburn
                    avatar: 'https://example.org/128Wash.jpg'
                    owner_id: 127
                    social_profiles:
                      type: list
                      data:
                        - type: social_profile
                          name: Twitter
                          url: 'http://twitter.com/th1sland'
                    has_hard_bounced: false
                    marked_email_as_spam: false
                    unsubscribed_from_emails: false
                    created_at: 1571672154
                    updated_at: 1571672158
                    signed_up_at: 1571069751
                    last_seen_at: 1571069751
                    last_replied_at: 1571672158
                    last_contacted_at: 1571672158
                    last_email_opened_at: 1571673478
                    last_email_clicked_at: 1571676789
                    language_override: null
                    browser: chrome
                    browser_version: 77.0.3865.90
                    browser_language: en
                    os: OS X 10.14.6
                    location:
                      type: location
                      country: Ireland
                      region: Dublin
                      city: Dublin
                    android_app_name: null
                    android_app_version: null
                    android_device: null
                    android_os_version: null
                    android_sdk_version: null
                    android_last_seen_at: null
                    ios_app_name: null
                    ios_app_version: null
                    ios_device: null
                    ios_os_version: null
                    ios_sdk_version: null
                    ios_last_seen_at: null
                    custom_attributes:
                      paid_subscriber: true
                      monthly_spend: 155.5
                      team_mates: 1
                    tags:
                      type: list
                      data:
                        - type: tag
                          id: '2'
                          url: /tags/2
                        - type: tag
                          id: '4'
                          url: /tags/4
                        - type: tag
                          id: '5'
                          url: /tags/5
                      url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                      total_count: 3
                      has_more: false
                    notes:
                      type: list
                      data:
                        - type: note
                          id: '20114858'
                          url: /notes/20114858
                      url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                      total_count: 1
                      has_more: false
                    companies:
                      type: list
                      data:
                        - type: company
                          id: 5ba686093d7cf93552a3dc99
                          url: /companies/5ba686093d7cf93552a3dc99
                        - type: company
                          id: 5cee64a03d7cf90c51b36f19
                          url: /companies/5cee64a03d7cf90c51b36f19
                        - type: company
                          id: 5d7668883d7cf944dbc5c791
                          url: /companies/5d7668883d7cf944dbc5c791
                      url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                      total_count: 3
                      has_more: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
                Updating with existing external_id:
                  value:
                    type: error.list
                    request_id: 80ec9d92-99ff-4da9-9a0e-c0ab7c42f7e7
                    errors:
                      - code: conflict
                        message: A contact matching those details already exists with id=5da6f18e3d7cf967e4582d05
                Converting user to lead:
                  value:
                    type: error.list
                    request_id: 00043csj9iva7pl9mmmg
                    errors:
                      - code: client_error
                        message: Contact with user role can't be converted to a lead
                Owner not on workspace:
                  value:
                    type: error.list
                    request_id: 00043csj9iva7pl9mmmg
                    errors:
                      - code: parameter_invalid
                        message: The owner specified is not a member of the workspace
      description: Update an existing contact (ie. user or lead).
      security:
        - Bearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
            examples:
              Update User:
                value:
                  role: user
                  external_id: '25'
                  email: wash@serenity.io
                  phone: '+1123456789'
                  name: Hoban Washburn
                  avatar: 'https://example.org/128Wash.jpg'
                  last_seen_at: 1571069751
                  signed_up_at: 1571069751
                  owner_id: 127
                  unsubscribed_from_emails: false
                  custom_attributes:
                    paid_subscriber: true
                    monthly_spend: 155.5
                    team_mates: 1
      tags:
        - Contacts
    get:
      summary: Retrieve a contact
      operationId: get-contacts-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
              examples:
                Contact:
                  value:
                    type: contact
                    id: 5ba682d23d7cf92bef87bfd4
                    workspace_id: ecahpwf5
                    external_id: '25'
                    role: user
                    email: wash@serenity.io
                    phone: '+1123456789'
                    name: Hoban Washburn
                    avatar: 'https://example.org/128Wash.jpg'
                    owner_id: 127
                    social_profiles:
                      type: list
                      data:
                        - type: social_profile
                          name: Twitter
                          url: 'http://twitter.com/th1sland'
                    has_hard_bounced: false
                    marked_email_as_spam: false
                    unsubscribed_from_emails: false
                    created_at: 1571672154
                    updated_at: 1571672158
                    signed_up_at: 1571069751
                    last_seen_at: 1571069751
                    last_replied_at: 1571672158
                    last_contacted_at: 1571672158
                    last_email_opened_at: 1571673478
                    last_email_clicked_at: 1571676789
                    language_override: null
                    browser: chrome
                    browser_version: 77.0.3865.90
                    browser_language: en
                    os: OS X 10.14.6
                    location:
                      type: location
                      country: Ireland
                      region: Dublin
                      city: Dublin
                    android_app_name: null
                    android_app_version: null
                    android_device: null
                    android_os_version: null
                    android_sdk_version: null
                    android_last_seen_at: null
                    ios_app_name: null
                    ios_app_version: null
                    ios_device: null
                    ios_os_version: null
                    ios_sdk_version: null
                    ios_last_seen_at: null
                    custom_attributes:
                      paid_subscriber: true
                      monthly_spend: 155.5
                      team_mates: 1
                    tags:
                      type: list
                      data:
                        - type: tag
                          id: '2'
                          url: /tags/2
                        - type: tag
                          id: '4'
                          url: /tags/4
                        - type: tag
                          id: '5'
                          url: /tags/5
                      url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                      total_count: 3
                      has_more: false
                    notes:
                      type: list
                      data:
                        - type: note
                          id: '20114858'
                          url: /notes/20114858
                      url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                      total_count: 1
                      has_more: false
                    companies:
                      type: list
                      data:
                        - type: company
                          id: 5ba686093d7cf93552a3dc99
                          url: /companies/5ba686093d7cf93552a3dc99
                        - type: company
                          id: 5cee64a03d7cf90c51b36f19
                          url: /companies/5cee64a03d7cf90c51b36f19
                        - type: company
                          id: 5d7668883d7cf944dbc5c791
                          url: /companies/5d7668883d7cf944dbc5c791
                      url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                      total_count: 3
                      has_more: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
      description: Fetch the details of a single contact.
      security:
        - Bearer: []
      tags:
        - Contacts
    delete:
      summary: Delete a contact
      operationId: delete-contacts-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteContactResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
      description: Delete a single contact.
      security:
        - Bearer: []
      tags:
        - Contacts
  '/contacts/{id}/archive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Archive a contact
      operationId: post-contacts-id-archive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveContactResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
      security:
        - Bearer: []
      description: Archive a single contact.
      tags:
        - Contacts
  '/contacts/{id}/unarchive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Unarchive a contact
      operationId: post-contacts-id-unarchive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveContactResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
      security:
        - Bearer: []
      description: Unarchive a single contact.
      tags:
        - Contacts
  /contacts/merge:
    post:
      summary: Merge two contacts
      operationId: post-contacts-merge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
              examples:
                Contact:
                  value:
                    type: contact
                    id: 5ba682d23d7cf92bef87bfd4
                    workspace_id: ecahpwf5
                    external_id: '25'
                    role: user
                    email: wash@serenity.io
                    phone: '+1123456789'
                    name: Hoban Washburn
                    avatar: 'https://example.org/128Wash.jpg'
                    owner_id: 127
                    social_profiles:
                      type: list
                      data:
                        - type: social_profile
                          name: Twitter
                          url: 'http://twitter.com/th1sland'
                    has_hard_bounced: false
                    marked_email_as_spam: false
                    unsubscribed_from_emails: false
                    created_at: 1571672154
                    updated_at: 1571672158
                    signed_up_at: 1571069751
                    last_seen_at: 1571069751
                    last_replied_at: 1571672158
                    last_contacted_at: 1571672158
                    last_email_opened_at: 1571673478
                    last_email_clicked_at: 1571676789
                    language_override: null
                    browser: chrome
                    browser_version: 77.0.3865.90
                    browser_language: en
                    os: OS X 10.14.6
                    location:
                      type: location
                      country: Ireland
                      region: Dublin
                      city: Dublin
                    android_app_name: null
                    android_app_version: null
                    android_device: null
                    android_os_version: null
                    android_sdk_version: null
                    android_last_seen_at: null
                    ios_app_name: null
                    ios_app_version: null
                    ios_device: null
                    ios_os_version: null
                    ios_sdk_version: null
                    ios_last_seen_at: null
                    custom_attributes:
                      paid_subscriber: true
                      monthly_spend: 155.5
                      team_mates: 1
                    tags:
                      type: list
                      data:
                        - type: tag
                          id: '2'
                          url: /tags/2
                        - type: tag
                          id: '4'
                          url: /tags/4
                        - type: tag
                          id: '5'
                          url: /tags/5
                      url: /contacts/5ba682d23d7cf92bef87bfd4/tags
                      total_count: 3
                      has_more: false
                    notes:
                      type: list
                      data:
                        - type: note
                          id: '20114858'
                          url: /notes/20114858
                      url: /contacts/5ba682d23d7cf92bef87bfd4/notes
                      total_count: 1
                      has_more: false
                    companies:
                      type: list
                      data:
                        - type: company
                          id: 5ba686093d7cf93552a3dc99
                          url: /companies/5ba686093d7cf93552a3dc99
                        - type: company
                          id: 5cee64a03d7cf90c51b36f19
                          url: /companies/5cee64a03d7cf90c51b36f19
                        - type: company
                          id: 5d7668883d7cf944dbc5c791
                          url: /companies/5d7668883d7cf944dbc5c791
                      url: /contacts/5ba682d23d7cf92bef87bfd4/companies
                      total_count: 3
                      has_more: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Not merging from lead to user:
                  value:
                    type: error.list
                    request_id: 0019c4t1derm7namdon0
                    errors:
                      - code: invalid_merge
                        message: Merging can only be performed on a lead into a user
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 9a3d0816-9707-4598-977e-c009ba630148
                    errors:
                      - code: not_found
                        message: Contact Not Found
      description: Merge a contact with a role of lead into a contact with a role of user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeContactsRequest'
            examples:
              Merge Request:
                value:
                  from: 5d70dd30de4efd54f42fd526
                  into: 5ba682d23d7cf92bef87bfd4
      security:
        - Bearer: []
      tags:
        - Contacts
components:
  schemas:
    Next:
      description: Provides information about the next page in a result set.
      type: object
      title: Next
      properties:
        page:
          type: number
          description: Number of next page in the result set.
          example: 4
        starting_after:
          type: string
          nullable: true
          description: 'Cursor value to be provided in the next call to the pagination query, to return the next set of results.'
          minLength: 1
          example: 1HaSB+xrOyyMXAkS/c1RteCL7BzOzTvYjmjakgTergIH31eoe2v4/sbLsJWP\nIncfQLD3ouPkZlCwJ86F\n
      required:
        - page
    Pages:
      description: Provides information needed to paginate through records in a result set.
      type: object
      title: Pages
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - pages.
          example: pages
        next:
          $ref: '#/components/schemas/Next'
        page:
          type: number
          description: Current page.
          example: 3
        per_page:
          type: number
          description: How many records per page are included in the response.
          example: 5
        total_pages:
          type: number
          description: Total pages in the result set.
          example: 10
      required:
        - type
    SocialProfile:
      description: Represents a social profile of a contact.
      type: object
      title: Social Profile
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - social_profile.
          example: social_profile
        name:
          type: string
          minLength: 1
          description: 'The name of the service (ie. Twitter, Facebook, etc).'
          example: Twitter
        url:
          type: string
          minLength: 1
          description: The profile page for the contact on the service.
          example: 'http://twitter.com/th1sland'
      required:
        - type
        - name
        - url
    SocialProfileList:
      description: A list of social profiles associated to a contact.
      type: object
      title: Social Profiles List
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - list.
          example: list
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: List of social profiles.
          items:
            $ref: '#/components/schemas/SocialProfile'
      required:
        - type
        - data
    Location:
      description: The location of a contact.
      type: object
      title: Location
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - location.
          example: location
        country:
          type: string
          nullable: true
          minLength: 1
          description: The country where the contact is.
          example: Ireland
        region:
          type: string
          nullable: true
          minLength: 1
          description: 'A subdivision of the country which the contact is in (ie. state, province, county, territory, etc).'
          example: Dublin
        city:
          type: string
          nullable: true
          minLength: 1
          description: The city where the contact is.
          example: Dublin
      required:
        - type
    AddressableObject:
      description: An object that can be addressed in the Intercom API.
      type: object
      title: Addressable Object
      properties:
        type:
          type: string
          minLength: 1
          description: 'The type of object - company, note, tag.'
          example: company
        id:
          type: string
          minLength: 1
          description: The id of the object.
          example: 5ba686093d7cf93552a3dc99
        url:
          type: string
          minLength: 1
          description: The URL where the object in question can be accessed (ie. /companies/45678).
          example: /companies/5ba686093d7cf93552a3dc99
      required:
        - type
        - id
        - url
    AddressableList:
      description: A list of addressable objects.
      type: object
      title: Addressable List
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - list.
          example: list
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: |-
            An array of Addressable Objects.
            Maximum of 10.
          items:
            $ref: '#/components/schemas/AddressableObject'
        url:
          type: string
          nullable: true
          description: The URL where the full list can be accessed (ie. /contacts/1234/companies).
          example: /contacts/5ba682d23d7cf92bef87bfd4/companies
        total_count:
          type: number
          description: The total amount of records.
          example: 3
        has_more:
          type: boolean
          description: 'Whether there''s more Addressable Objects to be viewed. If true, use the url to view all.'
      required:
        - type
        - data
    Contact:
      description: 'The Contacts Model provides details on these contacts within Intercom, and will specify whether they are a user or lead through the role attribute.'
      type: object
      title: Contact
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - contact.
          example: contact
        id:
          type: string
          minLength: 1
          description: "\t\nThe unique identifier for the contact which is given by Intercom."
          example: 5ba682d23d7cf92bef87bfd4
        workspace_id:
          type: string
          minLength: 1
          description: The id of the workspace which the contact belongs to.
          example: ecahpwf5
        external_id:
          type: string
          nullable: true
          minLength: 1
          description: "\t\nA unique identifier for the contact which is given to Intercom."
          example: '25'
        role:
          type: string
          minLength: 1
          description: The role of the contact - user or lead.
          example: user
        email:
          type: string
          nullable: true
          minLength: 1
          description: The contacts email.
          example: wash@serenity.io
        phone:
          type: string
          nullable: true
          description: "\t\nThe contacts phone."
          example: '+1123456789'
        name:
          type: string
          nullable: true
          minLength: 1
          description: The contacts name.
          example: Hoban Washburn
        avatar:
          type: string
          nullable: true
          minLength: 1
          description: An image URL containing the avatar of a contact.
          example: 'https://example.org/128Wash.jpg'
          format: uri
        owner_id:
          type: integer
          nullable: true
          description: The id of an admin that has been assigned account ownership of the contact.
          example: 127
        social_profiles:
          $ref: '#/components/schemas/SocialProfileList'
        has_hard_bounced:
          type: boolean
          nullable: true
          description: Whether the contact has had an email sent to them hard bounce.
        marked_email_as_spam:
          type: boolean
          nullable: true
          description: Whether the contact has marked an email sent to them as spam.
        unsubscribed_from_emails:
          type: boolean
          nullable: true
          description: Whether the contact is unsubscribed from emails.
        created_at:
          type: number
          description: The time when the contact was created. UNIX timestamp.
          example: 1571672154
        updated_at:
          type: integer
          nullable: true
          description: The time when the contact was last updated. UNIX timestamp.
          example: 1571672158
        signed_up_at:
          type: integer
          nullable: true
          description: The time specified for when a contact signed up. UNIX timestamp.
          example: 1571069751
        last_seen_at:
          type: integer
          nullable: true
          description: The time when the contact was last seen (either where the Intercom Messenger was installed or when specified manually). UNIX timestamp.
          example: 1571069751
        last_replied_at:
          type: integer
          nullable: true
          description: The time when the contact last messaged in. UNIX timestamp.
          example: 1571672158
        last_contacted_at:
          type: integer
          nullable: true
          description: The time when the contact was last messaged. UNIX timestamp.
          example: 1571672158
        last_email_opened_at:
          type: integer
          nullable: true
          description: The time when the contact last opened an email. UNIX timestamp.
          example: 1571673478
        last_email_clicked_at:
          type: integer
          nullable: true
          description: The time when the contact last clicked a link in an email. UNIX timestamp.
          example: 1571676789
        language_override:
          type: string
          nullable: true
          description: 'A preferred language setting for the contact, used by the Intercom Messenger even if their browser settings change.'
          minLength: 1
          example: es
        browser:
          type: string
          nullable: true
          minLength: 1
          description: The name of the browser which the contact is using.
          example: chrome
        browser_version:
          type: string
          nullable: true
          minLength: 1
          description: The version of the browser which the contact is using.
          example: 77.0.3865.90
        browser_language:
          type: string
          nullable: true
          minLength: 1
          description: The language set by the browser which the contact is using.
          example: en
        os:
          type: string
          nullable: true
          minLength: 1
          description: The operating system which the contact is using.
          example: OS X 10.14.6
        location:
          $ref: '#/components/schemas/Location'
        android_app_name:
          type: string
          nullable: true
          description: "\t\nThe name of the Android app which the contact is using."
          minLength: 1
        android_app_version:
          type: string
          nullable: true
          description: The version of the Android app which the contact is using.
          minLength: 1
        android_device:
          type: string
          nullable: true
          description: The Android device which the contact is using.
          minLength: 1
        android_os_version:
          type: string
          nullable: true
          description: The version of the Android OS which the contact is using.
          minLength: 1
        android_sdk_version:
          type: string
          nullable: true
          description: The version of the Android SDK which the contact is using.
          minLength: 1
        android_last_seen_at:
          type: integer
          nullable: true
          description: The last time the contact used the Android app. UNIX timestamp.
          example: 1571069751
        ios_app_name:
          type: string
          nullable: true
          description: The name of the iOS app which the contact is using.
          minLength: 1
        ios_app_version:
          type: string
          nullable: true
          minLength: 1
          description: The version of the iOS app which the contact is using.
        ios_device:
          type: string
          nullable: true
          minLength: 1
          description: The iOS device which the contact is using.
        ios_os_version:
          type: string
          nullable: true
          minLength: 1
          description: The version of iOS which the contact is using.
        ios_sdk_version:
          type: string
          nullable: true
          minLength: 1
          description: The version of the iOS SDK which the contact is using.
        ios_last_seen_at:
          type: integer
          nullable: true
          description: The last time the contact used the iOS app. UNIX timestamp.
          example: 1571069751
        custom_attributes:
          type: object
          description: The custom attributes which are set for the contact.
        tags:
          $ref: '#/components/schemas/AddressableList'
        notes:
          $ref: '#/components/schemas/AddressableList'
        companies:
          $ref: '#/components/schemas/AddressableList'
      required:
        - type
        - id
        - workspace_id
        - role
    ContactList:
      description: A paginated list of Contact objects.
      type: object
      title: Contact List
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - list.
          example: list
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array containing Contact Objects.
          items:
            $ref: '#/components/schemas/Contact'
        total_count:
          type: number
          description: The total number of contacts.
          example: 436
        pages:
          $ref: '#/components/schemas/Pages'
      required:
        - type
        - data
    SingleFilterQuery:
      description: Query filter with a single condition.
      type: object
      title: Single Filter Query
      properties:
        query:
          type: object
          description: A single filter query object.
      required:
        - query
    SingleFilterString:
      description: |-
        A single filter used to define your queries to 
        search for items.
      type: object
      title: Single Filter (String)
      properties:
        field:
          type: string
          minLength: 1
          description: The fields associated to a customer that you can search for.
          example: custom_attributes.salesforce_status
        operator:
          type: string
          description: The operator that you want to compare by.
          minLength: 1
          example: '~'
          pattern: ^(=|!=|IN|NIN|>|>=|<|<=|~|!~|\^|\$)$
        value:
          type: string
          description: The value you want to search by.
      required:
        - field
        - operator
        - value
    SingleFilterInteger:
      description: |-
        A single filter used to define your queries to 
        search for items.
      type: object
      title: Single Filter (Integer)
      properties:
        field:
          type: string
          minLength: 1
          description: The fields associated to a customer that you can search for.
          example: custom_attributes.salesforce_status
        operator:
          type: string
          description: The operator that you want to compare by.
          minLength: 1
          example: '~'
          pattern: ^(=|!=|IN|NIN|>|>=|<|<=|~|!~|\^|\$)$
        value:
          type: integer
          description: The value you want to search by.
      required:
        - field
        - operator
        - value
    MultiFilterQuery:
      description: Query filter with multiple conditions.
      type: object
      title: Multi-Filter Query
      properties:
        query:
          $ref: '#/components/schemas/MultiFilter'
      required:
        - query
    NestedFilterQuery:
      description: Query filter that includes multiple nested filters.
      type: object
      title: Nested Filter Query
      properties:
        query:
          $ref: '#/components/schemas/NestedFilter'
      required:
        - query
    MultiFilter:
      description: Class that allows you to combine multiple filters in a single query.
      type: object
      title: Multi-Filter
      properties:
        operator:
          type: string
          minLength: 1
          enum:
            - AND
            - OR
          example: AND
        value:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            description: An array of single filter query objects.
      required:
        - operator
        - value
    NestedFilter:
      description: Class that allows you to nest and combine multiple filters in a single query.
      type: object
      title: Nested Filter
      properties:
        operator:
          type: string
          minLength: 1
          enum:
            - AND
            - OR
          example: AND
        value:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/MultiFilter'
      required:
        - operator
        - value
    Error:
      description: Error that ocurred when calling the Intercom API.
      type: object
      title: Error
      properties:
        code:
          type: string
          minLength: 1
          description: Error code
          example: not_found
        message:
          type: string
          minLength: 1
          description: Error message
          example: 'No such email[pi@example.org]'
        field:
          type: string
          minLength: 1
          description: Optional. Used to identify a particular field or query parameter that was in error.
          example: email
      required:
        - code
        - message
    Errors:
      description: A list of errors that ocurred when calling the Intercom API.
      type: object
      title: Errors
      properties:
        type:
          type: string
          minLength: 1
          description: The type of object - error.list.
          example: error.list
        request_id:
          type: string
          minLength: 1
          description: Id of the request.
          example: 80ec9d92-99ff-4da9-9a0e-c0ab7c42f7e7
        errors:
          type: array
          uniqueItems: true
          minItems: 1
          description: A list of one or more error objects.
          items:
            $ref: '#/components/schemas/Error'
      required:
        - type
        - request_id
        - errors
    UpdateContactRequest:
      description: Model used to create or update a contact.
      type: object
      title: Update Contact Request
      properties:
        role:
          type: string
          minLength: 1
          description: The role of the contact. Accepted values are user or lead.
          enum:
            - user
            - lead
          example: user
        external_id:
          type: string
          minLength: 1
          description: A unique identifier for the contact which is given to Intercom. Required if role is user and email is blank
          example: '25'
        email:
          type: string
          minLength: 1
          description: The contacts email. Required if role is user and external_id is blank.
          example: wash@serenity.io
        phone:
          type: string
          minLength: 1
          description: The contacts phone.
          example: '+1123456789'
        name:
          type: string
          minLength: 1
          description: The contacts name.
          example: Hoban Washburn
        avatar:
          type: string
          minLength: 1
          description: An image URL containing the avatar of a contact.
          format: uri
          example: 'https://example.org/128Wash.jpg'
        last_seen_at:
          type: number
          description: The time when the contact was last seen (either where the Intercom Messenger was installed or when specified manually). Unix Timestamp.
          minimum: 1
          example: 1571069751
        signed_up_at:
          type: number
          description: The time specified for when a contact signed up. Unix Timestamp.
          minimum: 1
          example: 1571069751
        owner_id:
          type: number
          description: The id of an admin that has been assigned account ownership of the contact.
          minimum: 1
          example: 127
        unsubscribed_from_emails:
          type: boolean
          description: Whether the contact is unsubscribed from emails.
        custom_attributes:
          type: object
          description: |-
            The custom attributes which are set for the contact.

            You can only write to custom data attributes that already exist on the workspace. If you need to create new attributes to write to, you should Create Data Attributes through the Data Attributes API.
      required:
        - role
    DeleteContactResponse:
      description: An object with details on the deleted contact.
      type: object
      title: Delete Contact Response
      properties:
        id:
          type: string
          minLength: 1
          description: The unique identifier for the contact which is given by Intercom
          nullable: true
          example: 5ba682d23d7cf92bef87bfd4
        object:
          type: string
          minLength: 1
          description: The type of object - contact
          nullable: true
          example: contact
        deleted:
          type: string
          minLength: 1
          description: Whether the contact has been deleted - true
          nullable: true
          example: 'true'
    ArchiveContactResponse:
      description: An object with details on the archived contact.
      type: object
      title: Archive Contact Response
      properties:
        id:
          type: string
          minLength: 1
          description: The unique identifier for the contact which is given by Intercom
          nullable: true
          example: 5ba682d23d7cf92bef87bfd4
        object:
          type: string
          minLength: 1
          description: The type of object - contact
          nullable: true
          example: contact
        deleted:
          type: string
          minLength: 1
          description: 'Whether the contact has been archived - true if archived, false if unarchived.'
          nullable: true
          example: 'true'
    MergeContactsRequest:
      description: Information needed to merge two contacts.
      type: object
      title: Merge Contacts Request
      properties:
        from:
          type: string
          minLength: 1
          description: The unique identifier for the contact to merge away from. Must be a lead.
          example: 5d70dd30de4efd54f42fd526
        into:
          type: string
          minLength: 1
          description: "\t\nThe unique identifier for the contact to merge into. Must be a user."
          example: 5ba682d23d7cf92bef87bfd4
      required:
        - from
        - into
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            Client Error:
              value:
                type: error.list
                request_id: 0033stouf61cc58lp9ig
                errors:
                  - code: client_error
                    message: Invalid starting_after param. Please try again using a starting_after value from a paginated response
  examples:
    Contact:
      value:
        type: contact
        id: 5ba682d23d7cf92bef87bfd4
        workspace_id: ecahpwf5
        external_id: '25'
        role: user
        email: wash@serenity.io
        phone: '+1123456789'
        name: Hoban Washburn
        avatar: 'https://example.org/128Wash.jpg'
        owner_id: 127
        social_profiles:
          type: list
          data:
            - type: social_profile
              name: Twitter
              url: 'http://twitter.com/th1sland'
        has_hard_bounced: false
        marked_email_as_spam: false
        unsubscribed_from_emails: false
        created_at: 1571672154
        updated_at: 1571672158
        signed_up_at: 1571069751
        last_seen_at: 1571069751
        last_replied_at: 1571672158
        last_contacted_at: 1571672158
        last_email_opened_at: 1571673478
        last_email_clicked_at: 1571676789
        language_override: null
        browser: chrome
        browser_version: 77.0.3865.90
        browser_language: en
        os: OS X 10.14.6
        location:
          type: location
          country: Ireland
          region: Dublin
          city: Dublin
        android_app_name: null
        android_app_version: null
        android_device: null
        android_os_version: null
        android_sdk_version: null
        android_last_seen_at: null
        ios_app_name: null
        ios_app_version: null
        ios_device: null
        ios_os_version: null
        ios_sdk_version: null
        ios_last_seen_at: null
        custom_attributes:
          paid_subscriber: true
          monthly_spend: 155.5
          team_mates: 1
        tags:
          type: list
          data:
            - type: tag
              id: '2'
              url: /tags/2
            - type: tag
              id: '4'
              url: /tags/4
            - type: tag
              id: '5'
              url: /tags/5
          url: /contacts/5ba682d23d7cf92bef87bfd4/tags
          total_count: 3
          has_more: false
        notes:
          type: list
          data:
            - type: note
              id: '20114858'
              url: /notes/20114858
          url: /contacts/5ba682d23d7cf92bef87bfd4/notes
          total_count: 1
          has_more: false
        companies:
          type: list
          data:
            - type: company
              id: 5ba686093d7cf93552a3dc99
              url: /companies/5ba686093d7cf93552a3dc99
            - type: company
              id: 5cee64a03d7cf90c51b36f19
              url: /companies/5cee64a03d7cf90c51b36f19
            - type: company
              id: 5d7668883d7cf944dbc5c791
              url: /companies/5d7668883d7cf944dbc5c791
          url: /contacts/5ba682d23d7cf92bef87bfd4/companies
          total_count: 3
          has_more: false
    ContactList:
      value:
        type: list
        data:
          - type: contact
            id: 5ba682d23d7cf92bef87bfd4
            workspace_id: ecahpwf5
            external_id: '25'
            role: user
            email: wash@serenity.io
            phone: '+1123456789'
            name: Hoban Washburn
            avatar: 'https://example.org/128Wash.jpg'
            owner_id: 127
            social_profiles:
              type: list
              data:
                - type: social_profile
                  name: Twitter
                  url: 'http://twitter.com/th1sland'
            unsubscribed_from_emails: false
            created_at: 1571672154
            updated_at: 1571672158
            signed_up_at: 1571069751
            last_seen_at: 1571069751
            last_replied_at: 1571672158
            last_contacted_at: 1571672158
            last_email_opened_at: 1571673478
            last_email_clicked_at: 1571676789
            browser: chrome
            browser_version: 77.0.3865.90
            browser_language: en
            os: OS X 10.14.6
            location:
              type: location
              country: Ireland
              region: Dublin
              city: Dublin
            custom_attributes:
              paid_subscriber: true
              monthly_spend: 155.5
              team_mates: 1
            tags:
              type: list
              data:
                - type: tag
                  id: '2'
                  url: /tags/2
                - type: tag
                  id: '4'
                  url: /tags/4
                - type: tag
                  id: '5'
                  url: /tags/5
              url: /contacts/5ba682d23d7cf92bef87bfd4/tags
            notes:
              type: list
              data:
                - type: note
                  id: '20114858'
                  url: /notes/20114858
              url: /contacts/5ba682d23d7cf92bef87bfd4/notes
            companies:
              type: list
              data:
                - type: company
                  id: 5ba686093d7cf93552a3dc99
                  url: /companies/5ba686093d7cf93552a3dc99
                - type: company
                  id: 5cee64a03d7cf90c51b36f19
                  url: /companies/5cee64a03d7cf90c51b36f19
                - type: company
                  id: 5d7668883d7cf944dbc5c791
                  url: /companies/5d7668883d7cf944dbc5c791
              url: /contacts/5ba682d23d7cf92bef87bfd4/companies
        total_count: 436
        pages:
          type: pages
          next:
            page: 2
            starting_after: WzE1NzEzMTc0NDYwMDAsIjViYTY4MmQyM2Q3Y2Y5MmJlZjg3YmZkNCIsMl0=
          page: 1
          per_page: 1
          total_pages: 436
    UpdateContactRequest:
      value:
        role: user
        external_id: '25'
        email: wash@serenity.io
        phone: '+1123456789'
        name: Hoban Washburn
        avatar: 'https://example.org/128Wash.jpg'
        last_seen_at: 1571069751
        signed_up_at: 1571069751
        owner_id: 127
        unsubscribed_from_emails: false
        custom_attributes:
          paid_subscriber: true
          monthly_spend: 155.5
          team_mates: 1
tags:
  - name: Contacts
