{
  "openapi": "3.0.0",
  "info": {
    "title": "Intercom REST API",
    "version": "1.0",
    "contact": {
      "url": "https://developers.intercom.com/building-apps",
      "name": "Intercom Developer Hub"
    },
    "description": "Retrieve information, keep your data in sync, or take actions programmatically through Intercom's API."
  },
  "servers": [
    {
      "url": "https://api.intercom.io"
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "summary": "List all contacts",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "list",
                      "data": [
                        {
                          "type": "contact",
                          "id": "5ba682d23d7cf92bef87bfd4",
                          "workspace_id": "ecahpwf5",
                          "external_id": "25",
                          "role": "user",
                          "email": "wash@serenity.io",
                          "phone": "+1123456789",
                          "name": "Hoban Washburn",
                          "avatar": "https://example.org/128Wash.jpg",
                          "owner_id": 127,
                          "social_profiles": {
                            "type": "list",
                            "data": [
                              {
                                "type": "social_profile",
                                "name": "Twitter",
                                "url": "http://twitter.com/th1sland"
                              }
                            ]
                          },
                          "unsubscribed_from_emails": false,
                          "created_at": 1571672154,
                          "updated_at": 1571672158,
                          "signed_up_at": 1571069751,
                          "last_seen_at": 1571069751,
                          "last_replied_at": 1571672158,
                          "last_contacted_at": 1571672158,
                          "last_email_opened_at": 1571673478,
                          "last_email_clicked_at": 1571676789,
                          "browser": "chrome",
                          "browser_version": "77.0.3865.90",
                          "browser_language": "en",
                          "os": "OS X 10.14.6",
                          "location": {
                            "type": "location",
                            "country": "Ireland",
                            "region": "Dublin",
                            "city": "Dublin"
                          },
                          "custom_attributes": {
                            "paid_subscriber": "true",
                            "monthly_spend": "155.5",
                            "team_mates": "1"
                          },
                          "tags": {
                            "type": "list",
                            "data": [
                              {
                                "type": "tag",
                                "id": "2",
                                "url": "/tags/2"
                              },
                              {
                                "type": "tag",
                                "id": "4",
                                "url": "/tags/4"
                              },
                              {
                                "type": "tag",
                                "id": "5",
                                "url": "/tags/5"
                              }
                            ],
                            "url": "/contacts/5ba682d23d7cf92bef87bfd4/tags"
                          },
                          "notes": {
                            "type": "list",
                            "data": [
                              {
                                "type": "note",
                                "id": "20114858",
                                "url": "/notes/20114858"
                              }
                            ],
                            "url": "/contacts/5ba682d23d7cf92bef87bfd4/notes"
                          },
                          "companies": {
                            "type": "list",
                            "data": [
                              {
                                "type": "company",
                                "id": "5ba686093d7cf93552a3dc99",
                                "url": "/companies/5ba686093d7cf93552a3dc99"
                              },
                              {
                                "type": "company",
                                "id": "5cee64a03d7cf90c51b36f19",
                                "url": "/companies/5cee64a03d7cf90c51b36f19"
                              },
                              {
                                "type": "company",
                                "id": "5d7668883d7cf944dbc5c791",
                                "url": "/companies/5d7668883d7cf944dbc5c791"
                              }
                            ],
                            "url": "/contacts/5ba682d23d7cf92bef87bfd4/companies"
                          }
                        }
                      ],
                      "total_count": 436,
                      "pages": {
                        "type": "pages",
                        "next": {
                          "page": 2,
                          "starting_after": "WzE1NzEzMTc0NDYwMDAsIjViYTY4MmQyM2Q3Y2Y5MmJlZjg3YmZkNCIsMl0="
                        },
                        "page": 1,
                        "per_page": 1,
                        "total_pages": 436
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-contacts",
        "description": "Fetch a list of all contacts.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "minLength": 1
            },
            "in": "header",
            "required": true,
            "name": "Accept"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Next": {
        "description": "Provides information about the next page in a result set.",
        "type": "object",
        "x-examples": {
          "Example": {
            "page": 4,
            "starting_after": "1HaSB+xrOyyMXAkS/c1RteCL7BzOzTvYjmjakgTergIH31eoe2v4/sbLsJWP\nIncfQLD3ouPkZlCwJ86F\n"
          }
        },
        "properties": {
          "page": {
            "type": "number",
            "description": "Number of next page in the result set."
          },
          "starting_after": {
            "type": "string",
            "description": "Cursor value to be provided in the next call to the pagination query, to return the next set of results.",
            "minLength": 1
          }
        }
      },
      "Pages": {
        "description": "Provides information needed to paginate through records in a result set.",
        "type": "object",
        "x-examples": {
          "Example": {
            "type": "pages",
            "next": {
              "page": 4,
              "starting_after": "1HaSB+xrOyyMXAkS/c1RteCL7BzOzTvYjmjakgTergIH31eoe2v4/sbLsJWP\nIncfQLD3ouPkZlCwJ86F\n"
            },
            "page": 3,
            "per_page": 5,
            "total_pages": 10
          }
        },
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - pages."
          },
          "next": {
            "$ref": "#/components/schemas/Next"
          },
          "page": {
            "type": "number",
            "description": "Current page."
          },
          "per_page": {
            "type": "number",
            "description": "How many records per page are included in the response."
          },
          "total_pages": {
            "type": "number",
            "description": "Total pages in the result set."
          }
        }
      },
      "SocialProfile": {
        "description": "Represents a social profile of a contact.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - social_profile."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "\t\nThe name of the service (ie. Twitter, Facebook, etc)."
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "\t\nThe profile page for the contact on the service."
          }
        },
        "x-examples": {
          "Example": {
            "type": "social_profile",
            "name": "Twitter",
            "url": "http://twitter.com/th1sland"
          }
        }
      },
      "SocialProfileList": {
        "description": "A list of social profiles associated to a contact.",
        "type": "object",
        "x-examples": {
          "Example": {
            "type": "list",
            "data": [
              {
                "type": "social_profile",
                "name": "Twitter",
                "url": "http://twitter.com/th1sland"
              }
            ]
          }
        },
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - list."
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "description": "List of social profiles.",
            "items": {
              "$ref": "#/components/schemas/SocialProfile"
            }
          }
        },
        "required": [
          "type",
          "data"
        ]
      },
      "Location": {
        "description": "The location of a contact.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - location."
          },
          "country": {
            "type": "string",
            "minLength": 1,
            "description": "The country where the contact is."
          },
          "region": {
            "type": "string",
            "minLength": 1,
            "description": "A subdivision of the country which the contact is in (ie. state, province, county, territory, etc)."
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "description": "The city where the contact is."
          }
        },
        "required": [
          "type"
        ],
        "x-examples": {
          "Example": {
            "type": "location",
            "country": "Ireland",
            "region": "Dublin",
            "city": "Dublin"
          }
        }
      },
      "AddressableObject": {
        "description": "An object that can be addressed in the Intercom API.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - company, note, tag."
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "The id of the object."
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "The URL where the object in question can be accessed (ie. /companies/45678)."
          }
        },
        "required": [
          "type",
          "id",
          "url"
        ],
        "x-examples": {
          "Example": {
            "type": "company",
            "id": "5ba686093d7cf93552a3dc99",
            "url": "/companies/5ba686093d7cf93552a3dc99"
          }
        }
      },
      "AddressableList": {
        "description": "A list of addressable objects.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - list."
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "description": "An array of Addressable Objects.\nMaximum of 10.",
            "items": {
              "$ref": "#/components/schemas/AddressableObject"
            }
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "The URL where the full list can be accessed (ie. /contacts/1234/companies)."
          },
          "total_count": {
            "type": "number",
            "description": "The total amount of records."
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there's more Addressable Objects to be viewed. If true, use the url to view all."
          }
        },
        "required": [
          "type",
          "data"
        ],
        "x-examples": {
          "Example": {
            "type": "list",
            "data": [
              {
                "type": "company",
                "id": "5ba686093d7cf93552a3dc99",
                "url": "/companies/5ba686093d7cf93552a3dc99"
              },
              {
                "type": "company",
                "id": "5cee64a03d7cf90c51b36f19",
                "url": "/companies/5cee64a03d7cf90c51b36f19"
              },
              {
                "type": "company",
                "id": "5d7668883d7cf944dbc5c791",
                "url": "/companies/5d7668883d7cf944dbc5c791"
              }
            ],
            "url": "/contacts/5ba682d23d7cf92bef87bfd4/companies",
            "total_count": 3,
            "has_more": false
          }
        }
      },
      "Contact": {
        "description": "The Contacts Model provides details on these contacts within Intercom, and will specify whether they are a user or lead through the role attribute.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - contact."
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "\t\nThe unique identifier for the contact which is given by Intercom."
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "description": "The id of the workspace which the contact belongs to."
          },
          "external_id": {
            "type": "string",
            "minLength": 1,
            "description": "\t\nA unique identifier for the contact which is given to Intercom."
          },
          "role": {
            "type": "string",
            "minLength": 1,
            "description": "The role of the contact - user or lead."
          },
          "email": {
            "type": "string",
            "minLength": 1,
            "description": "The contacts email."
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "description": "\t\nThe contacts phone."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The contacts name."
          },
          "avatar": {
            "type": "string",
            "minLength": 1,
            "description": "An image URL containing the avatar of a contact."
          },
          "owner_id": {
            "type": "number",
            "description": "The id of an admin that has been assigned account ownership of the contact."
          },
          "social_profiles": {
            "$ref": "#/components/schemas/SocialProfileList"
          },
          "has_hard_bounced": {
            "type": "boolean",
            "description": "Whether the contact has had an email sent to them hard bounce."
          },
          "marked_email_as_spam": {
            "type": "boolean",
            "description": "Whether the contact has marked an email sent to them as spam."
          },
          "unsubscribed_from_emails": {
            "type": "boolean",
            "description": "Whether the contact is unsubscribed from emails."
          },
          "created_at": {
            "type": "number",
            "description": "The time when the contact was created. UNIX timestamp."
          },
          "updated_at": {
            "type": "number",
            "description": "The time when the contact was last updated. UNIX timestamp."
          },
          "signed_up_at": {
            "type": "number",
            "description": "The time specified for when a contact signed up. UNIX timestamp."
          },
          "last_seen_at": {
            "type": "number",
            "description": "The time when the contact was last seen (either where the Intercom Messenger was installed or when specified manually). UNIX timestamp."
          },
          "last_replied_at": {
            "type": "number",
            "description": "The time when the contact last messaged in. UNIX timestamp."
          },
          "last_contacted_at": {
            "type": "number",
            "description": "The time when the contact was last messaged. UNIX timestamp."
          },
          "last_email_opened_at": {
            "type": "number",
            "description": "The time when the contact last opened an email. UNIX timestamp."
          },
          "last_email_clicked_at": {
            "type": "number",
            "description": "The time when the contact last clicked a link in an email. UNIX timestamp."
          },
          "language_override": {
            "type": "string",
            "description": "A preferred language setting for the contact, used by the Intercom Messenger even if their browser settings change.",
            "minLength": 1
          },
          "browser": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the browser which the contact is using."
          },
          "browser_version": {
            "type": "string",
            "minLength": 1,
            "description": "The version of the browser which the contact is using."
          },
          "browser_language": {
            "type": "string",
            "minLength": 1,
            "description": "The language set by the browser which the contact is using."
          },
          "os": {
            "type": "string",
            "minLength": 1,
            "description": "The operating system which the contact is using."
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "android_app_name": {
            "type": "string",
            "description": "\t\nThe name of the Android app which the contact is using.",
            "minLength": 1
          },
          "android_app_version": {
            "type": "string",
            "description": "The version of the Android app which the contact is using.",
            "minLength": 1
          },
          "android_device": {
            "type": "string",
            "description": "The Android device which the contact is using.",
            "minLength": 1
          },
          "android_os_version": {
            "type": "string",
            "description": "The version of the Android OS which the contact is using.",
            "minLength": 1
          },
          "android_sdk_version": {
            "type": "string",
            "description": "The version of the Android SDK which the contact is using.",
            "minLength": 1
          },
          "android_last_seen_at": {
            "type": "number",
            "minimum": 0,
            "description": "The last time the contact used the Android app. UNIX timestamp."
          },
          "ios_app_name": {
            "type": "string",
            "description": "The name of the iOS app which the contact is using.",
            "minLength": 1
          },
          "ios_app_version": {
            "type": "string",
            "minLength": 1,
            "description": "The version of the iOS app which the contact is using."
          },
          "ios_device": {
            "type": "string",
            "minLength": 1,
            "description": "The iOS device which the contact is using."
          },
          "ios_os_version": {
            "type": "string",
            "minLength": 1,
            "description": "The version of iOS which the contact is using."
          },
          "ios_sdk_version": {
            "type": "string",
            "minLength": 1,
            "description": "The version of the iOS SDK which the contact is using."
          },
          "ios_last_seen_at": {
            "type": "number",
            "exclusiveMinimum": false,
            "minimum": 0,
            "description": "The last time the contact used the iOS app. UNIX timestamp."
          },
          "custom_attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The custom attributes which are set for the contact."
          },
          "tags": {
            "$ref": "#/components/schemas/AddressableList"
          },
          "notes": {
            "$ref": "#/components/schemas/AddressableList"
          },
          "companies": {
            "$ref": "#/components/schemas/AddressableList"
          }
        },
        "required": [
          "type",
          "id",
          "workspace_id",
          "role"
        ],
        "x-examples": {
          "Example": {
            "type": "contact",
            "id": "5ba682d23d7cf92bef87bfd4",
            "workspace_id": "ecahpwf5",
            "external_id": "25",
            "role": "user",
            "email": "wash@serenity.io",
            "phone": "+1123456789",
            "name": "Hoban Washburn",
            "avatar": "https://example.org/128Wash.jpg",
            "owner_id": 127,
            "social_profiles": {
              "type": "list",
              "data": [
                {
                  "type": "social_profile",
                  "name": "Twitter",
                  "url": "http://twitter.com/th1sland"
                }
              ]
            },
            "has_hard_bounced": false,
            "marked_email_as_spam": false,
            "unsubscribed_from_emails": false,
            "created_at": 1571672154,
            "updated_at": 1571672158,
            "signed_up_at": 1571069751,
            "last_seen_at": 1571069751,
            "last_replied_at": 1571672158,
            "last_contacted_at": 1571672158,
            "last_email_opened_at": 1571673478,
            "last_email_clicked_at": 1571676789,
            "language_override": null,
            "browser": "chrome",
            "browser_version": "77.0.3865.90",
            "browser_language": "en",
            "os": "OS X 10.14.6",
            "location": {
              "type": "location",
              "country": "Ireland",
              "region": "Dublin",
              "city": "Dublin"
            },
            "android_app_name": null,
            "android_app_version": null,
            "android_device": null,
            "android_os_version": null,
            "android_sdk_version": null,
            "android_last_seen_at": null,
            "ios_app_name": null,
            "ios_app_version": null,
            "ios_device": null,
            "ios_os_version": null,
            "ios_sdk_version": null,
            "ios_last_seen_at": null,
            "custom_attributes": {
              "paid_subscriber": true,
              "monthly_spend": 155.5,
              "team_mates": 1
            },
            "tags": {
              "type": "list",
              "data": [
                {
                  "type": "tag",
                  "id": "2",
                  "url": "/tags/2"
                },
                {
                  "type": "tag",
                  "id": "4",
                  "url": "/tags/4"
                },
                {
                  "type": "tag",
                  "id": "5",
                  "url": "/tags/5"
                }
              ],
              "url": "/contacts/5ba682d23d7cf92bef87bfd4/tags",
              "total_count": 3,
              "has_more": false
            },
            "notes": {
              "type": "list",
              "data": [
                {
                  "type": "note",
                  "id": "20114858",
                  "url": "/notes/20114858"
                }
              ],
              "url": "/contacts/5ba682d23d7cf92bef87bfd4/notes",
              "total_count": 1,
              "has_more": false
            },
            "companies": {
              "type": "list",
              "data": [
                {
                  "type": "company",
                  "id": "5ba686093d7cf93552a3dc99",
                  "url": "/companies/5ba686093d7cf93552a3dc99"
                },
                {
                  "type": "company",
                  "id": "5cee64a03d7cf90c51b36f19",
                  "url": "/companies/5cee64a03d7cf90c51b36f19"
                },
                {
                  "type": "company",
                  "id": "5d7668883d7cf944dbc5c791",
                  "url": "/companies/5d7668883d7cf944dbc5c791"
                }
              ],
              "url": "/contacts/5ba682d23d7cf92bef87bfd4/companies",
              "total_count": 3,
              "has_more": false
            }
          }
        }
      },
      "ContactList": {
        "description": "A paginated list of Contact objects.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "The type of object - list."
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "description": "An array containing Contact Objects.",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "total_count": {
            "type": "number",
            "description": "The total number of contacts."
          },
          "pages": {
            "$ref": "#/components/schemas/Pages"
          }
        },
        "required": [
          "type",
          "data"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "contacts"
    }
  ]
}